In [14]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [15]:
url= "https://webpages.charlotte.edu/mscipion/"

In [16]:
r = requests.get(url)
print(r)

<Response [200]>

In [17]:
soup = BeautifulSoup(r.text,"lxml")

In [19]:
table = soup.find('table')

In [20]:
rows = table.find_all('tr')

In [21]:
data = []
for row in rows[1:]:  # Skipping the header row
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)  # Get rid of empty values

In [22]:
df = pd.DataFrame(data, columns=headers)

In [23]:
print(df.head)

<bound method NDFrame.head of   Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15>

In [26]:
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [27]:
for i in rows [1:]:
    print(i.text)

Fred
Kotlin
4


Paula
Python
2


Ernst
Java
7


Isabel
C++
3


Tony
Pearl
7


Maria
Cobol
15

In [28]:
rows

[<tr>
 <th>Student</th>
 <th>Favourite Computer Language</th>
 <th>Years of Experience</th>
 </tr>,
 <tr>
 <td>Fred</td>
 <td>Kotlin</td>
 <td>4</td>
 </tr>,
 <tr>
 <td>Paula</td>
 <td>Python</td>
 <td>2</td>
 </tr>,
 <tr>
 <td>Ernst</td>
 <td>Java</td>
 <td>7</td>
 </tr>,
 <tr>
 <td>Isabel</td>
 <td>C++</td>
 <td>3</td>
 </tr>,
 <tr>
 <td>Tony</td>
 <td>Pearl</td>
 <td>7</td>
 </tr>,
 <tr>
 <td>Maria</td>
 <td>Cobol</td>
 <td>15</td>
 </tr>]